<div *ngIf="beer">
    <h3>{{ beer.name }}</h3>
    <div>
        <img class="beer-image" [src]="beer.image" />
        <table class="table table-bordered">
            <tr>
                <th>Brouwerij:</th>
                <td>{{ beer.brewery }}</td>
            </tr>
            <tr>
                <th>Stijl:</th>
                <td><span [innerHTML]="beer | beerstyleformatter"></span></td>
            </tr>
            <tr>
                <th>Id:</th>
                <td>{{ beer._id }}</td>
            </tr>
            <tr>
                <th>Aantal checkins:</th>
                <td>{{ checkins.length }}</td>
            </tr>
            <tr>
                <th>Gemiddelde rating:</th>
                <td>
                    <span *ngIf="checkins.length > 0">{{ checkins | averageratingformatter }}</span>
                    <span *ngIf="checkins.length === 0">Geen ratings</span>
                </td>
            </tr>
        </table>
    </div>
</div>